In [1]:
import numpy as np

Basic Type

In [2]:
x = np.int8(10)

In [3]:
x.dtype

dtype('int8')

Array

In [4]:
arr = np.array([1, 2, 3])

In [5]:
arr.dtype

dtype('int64')

In [6]:
arr.ndim

1

In [7]:
arr.size

3

In [12]:
arr2d = np.array([
    [1, 2, 3],
    [4, 5, 6]
], dtype=np.int8)

In [14]:
arr2d.dtype

dtype('int8')

In [15]:
arr2d.ndim

2

In [16]:
arr2d.shape, arr2d.size

((2, 3), 6)

In [44]:
arr3d = np.array([
    [
        [1, 2, 3],
        [4, 5, 6],
    ],
    [
        [7, 8, 9],
        [10, 11, 12]
    ]
], np.int8)

In [20]:
arr3d.dtype

dtype('int8')

In [21]:
arr3d.ndim

3

In [22]:
arr3d.shape, arr3d.size

((2, 2, 3), 12)

In [23]:
arr3d[1] = 20

In [24]:
arr3d.shape, arr3d.size

((2, 2, 3), 12)

Slicing

In [45]:
arr3d

array([[[ 1,  2,  3],
        [ 4,  5,  6]],

       [[ 7,  8,  9],
        [10, 11, 12]]], dtype=int8)

In [47]:
arr3d[:, :, -1]

array([[ 3,  6],
       [ 9, 12]], dtype=int8)

In [ ]:
arr3dmismatch = np.array([
    [
        [1, 2, 3],
        [4, 5, 6],
    ],
    [
        [7, 8, 9]   # error
    ]
])

In [2]:
import numpy as np

1D Array

In [10]:
arr1d = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9], dtype=np.int8)
{
    "first": arr1d[0],    # first item
    "last": arr1d[-1],   # last item
    "reverse": arr1d[::-1], # reversing
    "n-step": arr1d[::2],  # n-tep indexing
    "middle": arr1d[1:-1], # middle item
    "max": arr1d.max(),
    "mean": arr1d.mean(),
    "std": arr1d.std(),
    "filter": arr1d[arr1d % 2 == 0]
}

{'first': np.int8(1),
 'last': np.int8(9),
 'reverse': array([9, 8, 7, 6, 5, 4, 3, 2, 1], dtype=int8),
 'n-step': array([1, 3, 5, 7, 9], dtype=int8),
 'middle': array([2, 3, 4, 5, 6, 7, 8], dtype=int8),
 'max': np.int8(9),
 'mean': np.float64(5.0),
 'std': np.float64(2.581988897471611),
 'filter': array([2, 4, 6, 8], dtype=int8)}

2D Array

In [11]:
arr2d = np.array([
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9],
])
{
    "first": arr2d[0],
    "first-first": arr2d[0, 0],
    "last": arr2d[-1],
    "last-last": arr2d[-1, -1],
    "middle": arr2d[1:-1, 1:-1],
    "reverse": arr2d[::-1],
    "n-step": arr2d[::2],
    "n-n-step": arr2d[::2, ::2],
    "max": arr2d.max(),
    "mean": arr2d.mean(),
    "std": arr2d.std()
}

{'first': array([1, 2, 3]),
 'first-first': np.int64(1),
 'last': array([7, 8, 9]),
 'last-last': np.int64(9),
 'middle': array([[5]]),
 'reverse': array([[7, 8, 9],
        [4, 5, 6],
        [1, 2, 3]]),
 'n-step': array([[1, 2, 3],
        [7, 8, 9]]),
 'n-n-step': array([[1, 3],
        [7, 9]]),
 'max': np.int64(9),
 'mean': np.float64(5.0),
 'std': np.float64(2.581988897471611)}

In [12]:
import pandas as pd

In [14]:
s = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [17]:
s.index = ["satu", "dua", "tiga", "empat", "lima", "enam", "tujuh", "delapan", "sembilan"]
s

satu        1
dua         2
tiga        3
empat       4
lima        5
enam        6
tujuh       7
delapan     8
sembilan    9
dtype: int64

In [27]:
s.loc["dua":"enam"]

dua      2
tiga     3
empat    4
lima     5
enam     6
dtype: int64

Data Cleaning

In [11]:
import pandas as pd
import numpy as np
df = pd.read_csv("../../data/netflix_movies (1).csv")

In [3]:
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [4]:
df.shape

(8807, 12)

In [32]:
df.isnull().sum(axis=0)

show_id         0
type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
description     0
dtype: int64

In [30]:
df['director'] = df['director'].fillna('Unknown')
df['cast'] = df['cast'].fillna('Unknown Artist')
df['country'] = df['country'].fillna('Unknown Country')
df['date_added'] = df['date_added'].fillna('Unknown Date')
df['rating'] = df['rating'].fillna('Unknown Rating')
df['duration'] = df['duration'].fillna('Until Finished')

In [31]:
df[df['director'] == 'Unknown'].shape

(2634, 12)

Mengecek duplikasi data

In [28]:
df.duplicated().sum()

np.int64(0)

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      8807 non-null   object
 4   cast          8807 non-null   object
 5   country       8807 non-null   object
 6   date_added    8807 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8807 non-null   object
 9   duration      8807 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [34]:
df.to_csv("../../data/netflix copy.csv")